*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.partsOfSpeech{
    padding-left: 18vw;
}
.speech{
    display: block;
    font-size: 1.5em;
    font-weight: bold;
  
}
.definition-p{
    font-size: 1.3em;
    padding:10px 0;
}
.examples p{
    color: hsl(0deg, 0%, 46%);
    margin-top: 0.5rem;
    font-size: 1.2em;
}
.non{
    display:flex;
    align-items: center;
    gap:3vw;
}

.line{
    border:0.4px solid grey;
    flex:1;
}
.dot-div{
    display:flex;
    gap:1vw;
    
}
.meaning{
    font-size: 1.5em;
    padding:30px 0;
}
.dot{
    color:hsl(274deg, 82%, 60%);
    font-weight: 700;
    font-size:2.5vw;
    text-align: center;
    margin-top:-8px;
}
.synonyms-container{
    padding:20px 0;
}
.synon-words,.anton-words{
    color:hsl(274deg, 82%, 60%);
    font-family: Lora, serif;
}
.synon-anton{
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    text-decoration: none;
    line-height: 1;
    font-size: 1.25rem;
    color:#757575;
    padding-right:10px;
}
.source{
    margin: 20px 0;
    font-size: 1.3em;
}