.body{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width:80vw;
    /* gap:1vh; */
    margin:0 auto;
    padding:10px 0;
}

.navbar{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.navbar .left,.font-fam{
    display:flex;
    align-items: center;
}
.navbar .left{
    gap:3vw;
}
.font-fam{
    gap:1vw;
}
.navbar .bookIcon{
    width:50px;
    height:70px;
}
.font-fam{
    border-right: 1px solid grey;
    padding:10px;
}
.part-two{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top:10vh;
}

.part-two form{
    display:flex;
    position: relative;
    margin-bottom: 30px;
}
.part-two input{
    padding:20px 24px;
    width:40vw;
    border-radius: 17px;
    outline:none;
    background-color: hsl(0deg, 0%, 96%);
    font-weight: 400;
    border:0;
    font-family: Inconsolata, mono;
   
}
.input-field::placeholder{
    font-size: 1.2vw;
color: #1f1f1f;
font-weight: 800;
   
}
.faSearch{
    position:absolute;
    right:40px;
    bottom:8px;
    color:hsl(274deg, 82%, 60%);
    height:2.7vw;
    width:1.5vw;
}
.part-three{
    display:flex;
    flex-direction: column; 
}
.part-three .word{
    display:flex;
    align-items: center;
    justify-content: space-around;
    gap:1vw;
}
.word h1{
    font-size: 4rem;
}
.play{
    border-radius: 50%;
    padding:1rem;
    width:70px;
    display:flex;
    justify-content: center;
    background-color:rgba(164, 69, 237, .25);
    align-items: center;
    
}
.playIcon{
    color:hsl(274deg, 82%, 60%);
    width:2.7vw;
    height:3vw;
    text-align: center;
}
.phonetics{
    text-align: left;
    padding-left: 18vw;
    padding-top: 2px;
    font-size:2em;
   color: hsl(274deg, 82%, 60%);
}
